.columnWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  flex-basis: 10vw;
  }

.rowWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  overflow: hidden;
  }


.gameContainer{
  flex: 1 1 auto;
  user-select:none;
  justify-content: center;
  align-items: center;
  /* display: flex; */
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow:hidden;
  /* z-index: 100000; */
}