.mintSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: fit-content;
    justify-content: flex-start;
    height: fit-content;
    min-height: 100vh;
    border: 1px solid black;
    padding: 25vh 0 0 0;
}

.mintButton {
    background-color: rgb(131, 205, 255);
    cursor: pointer;
    height: 80px;
    width: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
    user-select: none;
    box-shadow: 0 0 8px grey;
    margin: 10px 0 10px 0;
    letter-spacing: 0.05em;
}

.error {
    color: red;
    font-weight: 500;
}


/* chosing the token for payment */
.tokenChoice {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    letter-spacing: 0.05em;
    margin: 0.3em 0 0.5em 0;
}

@keyframes wethBackground {
    0% {
        background-color: rgb(153, 0, 255);
    }
    100% {
        background-color: rgb(42, 108, 184);
    }
}

@keyframes maticBackground {
    0% {
        background-color: rgb(42, 108, 184);
    }
    100% {
        background-color: rgb(153, 0, 255);
    }
}

.switch {
    width: 3.5em;
    height: 1.5em;
    border-radius: 0.75em;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 0.3em 0 0.3em;
    box-shadow: 0 0 4px grey;
}

.switchMatic {
    animation-name: maticBackground;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.switchWeth {
    animation-name: wethBackground;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes wethCircle {
    0% {
        left: 0.15em;
    }
    100% {
        left: 2.15em;
    }
}

@keyframes maticCircle {
    0% {
        left: 2.15em;
    }
    100% {
        left: 0.15em;
    }
}

.switchCircle {
    position: relative;
    left: 4%;
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
    background-color: white;
}

.circleMatic {
    animation-name: maticCircle;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.circleWeth {
    animation-name: wethCircle;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
/* chosing the token for payment */

.mintButton:active {
    background-color: rgb(81, 185, 255);
    box-shadow: 0 0 3px grey;
}

.slider {
    width: 100%;
}

.slider input[type="range"] {
    width: 100%;
}

.nftsLeft {
    font-size: 1.5rem;
    font-weight: 500;
}

.maxMint {
    font-size: 1rem;
    font-weight: 400;
}

.mintEnds {
    font-size: 1rem;
}

.help {
    text-decoration: underline;
    color: #0000EE;
    cursor: pointer;
}