
.navbar {
    position: sticky;
    width: 100%;
    height: 3.5em;
    background-color: var(--navbar);
    top: 0px;
    z-index: 100;
    font-weight: 600;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
}

.navButton {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5em;
    font-size: 1rem;
    font-weight: 600;
    color: var(--light-text);
    cursor: pointer;
}

.navButton:hover {
    color: var(--text);
}

.homeButton {
    flex-grow: 2;
    font-size: 1.8rem;
    height: calc(3.5em/1.8);
    color: var(--text);
}

.buttonsRow {
    flex-grow: 1;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-flow: wrap-reverse;
    /* overflow: hidden; */
    /* padding: 0 10%; */
}

.buttonsRow>div {
    height: 3.5em;
    flex-grow: 1;
}

.button {
    margin: 0 0.5em;
}

.profile {
    height: 3.5em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    max-width: 10em;
}

.profile>span {
    /* margin-right: 1em; */
    color: var(--light-text);
    padding: 0 1em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile:hover>span {
    color: var(--text);
}

.menuButton {
    padding-left: 1em;

    display: flex;
    align-items: center;
    width: 15em;
}

.menuButton>a {
    margin-left: calc(1em/1.4);
    font-size: 1.4rem;
    cursor: pointer;
}

.menuButton>svg {
    cursor: pointer;    
}

.menuBG {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 99;
    transition: background-color 0.3s ease-in-out;
}

.menuBGClosed {
    background-color: transparent;
    pointer-events: none;
}

.menu {
    width: 18em;
    height: 50vh;
    background-color: var(--navbar);
    position: relative;
    top: 3.5em;
    padding: 1em;

    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.menuClosed {
    transform: translateX(-100%);
}

.menu>div {
    padding: 0.3em;
    font-size: 1.1rem;
}