
.navbar {
    position: sticky;
    width: 100%;
    height: 3.5em;
    background-color: var(--navbar);
    top: 0px;
    z-index: 100;
    font-weight: 600;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
}

.navButton {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5em;
    font-size: 1rem;
    font-weight: 600;
    color: var(--light-text);
    cursor: pointer;
}

.navButton:hover {
    color: var(--text);
}

.homeButton {
    flex-grow: 2;
    font-size: 1.8rem;
    height: calc(3.5em/1.8);
    color: var(--text);
}

.buttonsRow {
    flex-grow: 1;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    /* flex-flow: wrap-reverse; */
    /* overflow: hidden; */
    /* padding: 0 10%; */
}

.buttonsRow>div {
    height: 3.5em;
    /* flex-grow: 1; */
}

/* Mobile devices */
.secondaryButtons {
    display: none;
}

/* Big screens */
@media only screen and (min-width: 768px) {
    .secondaryButtons {
        flex-grow: 0;
        width: 30em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.button {
    margin: 0 0.5em;
}

.profile {
    height: 3.5em;
    flex-grow: 1;
    padding-right: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    max-width: 10em;
}

.profile>span {
    /* margin-right: 1em; */
    color: var(--light-text);
    padding: 0 1em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile:hover>span {
    color: var(--text);
}

.menuButton {
    padding-left: 1em;
    margin-left: .5em;
    flex-grow: 2;

    display: flex;
    align-items: center;
    width: 15em;
}

.menuButton>a {
    margin-left: calc(1em/1.4);
    font-size: 1.4rem;
    cursor: pointer;
}

.menuButton>svg {
    cursor: pointer;    
}

.menuBG {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 99;
    transition: background-color 0.3s ease-in-out;
}

.menuBGClosed {
    background-color: transparent;
    pointer-events: none;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: .5em;
    width: 14em;
    height: fit-content;
    background-color: var(--navbar);
    position: relative;
    top: 3.5em;
    padding: 1em;
    margin-left: 1em;

    border-radius: 0 0 20px 20px;

    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.menuClosed {
    transform: translateY(-100%);
}

.menu>div {
    /* padding: 0.3em; */
    margin-bottom: 0.6em;
    font-size: 1.2rem;
    color: var(--text);
}

.menu>div a {
    display: flex;
    gap: .3em;
}

.menu>div:not(.links, .profileLink) a svg {
    scale: .8;
}

.menu>div:not(.links) a svg {
    color: var(--light-text);
}

.menu>div a:hover {
    color: var(--text);
    text-decoration: underline;
}

/* Mobile devices */
.menuHomeButton>div {
    padding-left: 1em;
    color: var(--text);
    font-size: .9rem;
}

/* Big screens */
@media only screen and (min-width: 768px) {
    .menuHomeButton>div {
        display: none;
    }
}

.menuHomeButton>div>div {
    padding: .2em 0;
}

.menuHomeButton>div>div:hover {
    color: var(--text);
    text-decoration: underline;
}

.toggleTheme {
    font-size: 1rem;
    display: flex;
    height: 1.5em;
    padding: 0.15em;
    width: 3em;
    border-radius: 0.75em;
    background-color: var(--light-text);
    border: none;
    cursor: pointer;
}

.toggleTheme>div {
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    background-color: var(--light-background);
}

.themeButton {
    display: flex;
    gap: .5em;
}

.links {
    display: flex;
    width: 100%;
    justify-content: space-around;
}