.popup {
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    z-index: 1000;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.557);
}

.window {
    padding: 0em 1em;
    height: fit-content;
    width: 60%;
    height: 75%;
    background-color: var(--light-background);
    border-radius: 20px;
    border: 1px solid var(--text);
    
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: transparent;
}

.top>div {
    cursor: pointer;
    background-color: transparent;
}


.content::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.content {
    flex-grow: 1;
    /* border: 1px solid white; */
    background-color: transparent;

    overflow: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.content>h2 {
    margin: 0 0 0.3em 0;
}

.prizeRange {
    font-size: 1.4rem;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prizeTable {
    background-color: transparent;
}

.firstColumn, .secondColumn {
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    padding: 0.4em;
}

.stages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    user-select: none;
    padding: 0 1em;
}

.stages>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.selectedRange, .range {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    height: 2em;
    border-radius: 1em;
    padding: 0.5em;
    background-color: var(--primary);
    user-select: none;
    cursor: pointer;
}

.range {
    border: 1px solid var(--light-text);
}

.selectedRange {
    border: 2px solid var(--text);
}

.achivedRange {
    background-color: var(--secondary-dark);
}

.horizontalLine {
    position: relative;
    margin: 0 1em 0 1em;
    width: calc(100%-2em);
    height: 0.5em;
    border-radius: 0.5em;
    background-color: var(--primary-variant);
    top: 1.25em;
}

.completedHorizontalLine {
    background-color: var(--secondary);
    height: 0.5em;
    border-radius: 0.5em;
}

.left {
    background-color: transparent;
    padding-left: 2em;
    margin: 0.5em 0 1em 0
}