.walkthrough {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 4em
}

.walkthrough h1 {
    padding-left: 1em;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.walkthrough p {
    /* padding-left: 2em; */
    align-self: center;
}

.canv {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.btn {
    align-self: flex-end;
    margin: 0 1em 2em 1em;
    user-select: none;
}

.btn svg {
    width: fit-content;
    height: fit-content;
    font-size: 5rem;
    color: var(--walkthrough-btn);
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.btn svg:hover {
    transform: scale(1.1);
}

.btn svg:active {
    transition: all 0s ease-in-out;
    color: var(--walkthrough-btn-hover);
}