.walkthrough {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 4em
}

.walkthrough h1 {
    padding-left: 1em;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.walkthrough p {
    /* padding-left: 2em; */
    align-self: center;
}

.canv {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* outline: 1px solid var(--lightest-background); */
}

.btn {
    align-self: flex-end;
    margin: 0 1em 2em 1em;
    user-select: none;
}

.btn svg {
    width: fit-content;
    height: fit-content;
    font-size: 5rem;
    color: var(--walkthrough-btn);
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.btn svg:hover {
    transform: scale(1.1);
}

.btn svg:active {
    transition: all 0s ease-in-out;
    color: var(--walkthrough-btn-hover);
}

.canvas {
    height: 100%;
    /* aspect-ratio: 3/2; */
    width: calc(100% - 10em);
    outline: 3px solid var(--lightest-background);
    background-color: var(--light-background);
    border-radius: 20px;
    overflow: hidden;
    
    display: grid;
}

.canvas>div {
    grid-row: 1;
    grid-column: 1;
}

.canvas>div:last-child {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.canvas>div:last-child>div {
    padding: 2em 2em 1em 2em;
    text-align: justify;
    /* background-color: var(--light-background); */
    background: linear-gradient(to bottom, transparent, var(--light-background-transparent) 50%);
}