.walkthrough {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 4em
}

.walkthrough h1 {
    padding-left: 1em;
}

.walkthrough h1::after {
    content: "?";
    position: relative; /* problem sa ovim je sto ne znam kako da centriram, tj da sredina ovoga bude u ravni sa sredinom teksta */
    transform: translate(0, 0.5em);
    text-align: center;
    height: 1.5em;
    width: 1.5em;
    margin: 0 0 0 1em;
    color: var(--light-text);
    padding: 0.1em;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 50%;
}

.walkthrough h1:hover::after {
    content: "See how every building affects your city and what it does to help you develop the winning strategy!";
    position: relative;
    min-height: 2em;
    height: fit-content;
    width: fit-content;
    max-width: 40vw;
    transform: none;
    margin: 0 0 0 1em;
    border: 1px solid var(--text);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
}

.canv {
    border: 1px solid black;
    /* height: fit-content; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.btn {
    align-self: flex-end;
    margin: 0 1em 2em 1em;
    user-select: none;
}

.btn svg {
    width: fit-content;
    height: fit-content;
    font-size: 5rem;
    color: var(--walkthrough-btn);
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.btn svg:hover {
    transform: scale(1.1);
}

.btn svg:active {
    transition: all 0s ease-in-out;
    color: var(--walkthrough-btn-hover);
}