.parent {
    border: 1px solid var(--light-text);
    border-radius: 20px;
    overflow: hidden;
    padding: 0 1em;
    width: 60%;
    height: 70%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
}

.topWrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
}

.topWrapper::after {
    content: '';
    align-self: center;
    display: block;
    width: 100%;
    background-color: green;
    border-top: 1px groove var(--light-text);
}

.top {
    padding: 0.5em 0;
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top>span {
    flex-grow: 1;
    text-align: center;
}

.top>div {
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}


.achievementList::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
.achievementList {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    padding: 1em 0;
    /* background-color: blue; */
    /* background: -webkit-linear-gradient(left, transparent, blue); */
    /* margin-top: 2em; */

    overflow: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.achievementItem {
    background-color: var(--light-background);
    margin: 0.5em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 6em;
    border-radius: 15px;
}

.badge {
    /* flex-grow: 1; */
    height: 100%;
    height: 6em;
    aspect-ratio: 1/1;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-items: start;
    flex-direction: column;
}

.topData {
    padding: 0.5em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.title {
    font-size: 1.4rem;
}

.prize {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.prize>span {
    margin-left: 0.3em;
}

.explanation {
    color: var(--light-text);
    font-size: 0.9rem;
    padding-left: calc(1em/0.9);
}

.bars {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 100%;
}

.bars>*:first-child {
    flex-grow: 1000;
    min-width: 10em;
}

.bars>*:last-child {
    flex-grow: 1;
}

.bars>* {
    margin: 0.5em 1em;
}

.claimButton {
    background: linear-gradient(to right, rgb(0, 167, 0), rgb(83, 255, 83));
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

@keyframes light {
    from {}
    to {
        transform: translateY(-0.5em) translateX(50vw) rotate(-20deg);
    }
}

.claimButton:before, .claimButton:after {
    content: '';
    position: absolute;
    height: 3em;
    width: 0.6em;
    background-color: rgb(208, 255, 208);
    box-shadow: 0 0 10px white;
    filter: blur(1px);
    opacity: 0.9;
    transform: translateY(-0.5em) translateX(-50vw) rotate(-20deg);
    animation-name: light;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.claimButton:after {
    animation-delay: 2s;
}

/* #region Shiny Button Animation */

@keyframes shine {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 5px;
        height: 5px;
    }
    100% {
        width: 0;
        height: 0;
    }
}

.dotStyle {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    animation-name: shine;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* #endregion */