.leaderboard {
    min-height: 100vh;
    padding-bottom: 15vh;
    background-color: var(--background);
}

.item {
    margin: 1em;
    /* border: 1px solid white; */
    border-radius: 2.25em;
    overflow: hidden;
    background-color: var(--light-background);
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--top-padding) 0;
    max-height: 3.75em;
    font-size: 1.2rem;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.4s linear;
    background-color: transparent;
    border-radius: 2.25em;
}

.topOwned {
    background-color: var(--primary-bg);
}

.owner {
    margin-top: var(--top-padding-negative);
    margin-bottom: var(--top-padding-negative);
    margin-left: 0.45em;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
}

.owner>a {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    transition: all 0.15s linear;
}

.owner>a:hover {
    transform: scale(1.08);
}

.owner>a>span {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    bottom: calc(100% + 3px);
    min-width: calc(3.6em * 1.1);
    left: -8%;
    transition: all 0.15s linear;
    align-self: center;
    background-color: var(--light-background);
    border: 1px solid var(--light-text);
    padding: 0.2em 0.5em;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}

.owner>a:hover>span {
    visibility: visible;
    opacity: 1;
    transform: scale(0.90909);
}

.owner>a>span::after {
    content: "";
    position: absolute;
    top: calc(100% + 1px);
    left: calc(1.8em * 1.1);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--light-text) transparent transparent transparent;
}

.owner img {
    width: 3.6em;
    height: 3.6em;
    border-radius: 50%;
}

.id, .money, .income {
    /* text-align: start; */
    flex-grow: 1;
    margin: 0 0.4em;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.income {
    flex-grow: 2;
}

.id {
    margin-left: 0.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* width: fit-content; */
}

.id span {
    font-size: 1.3em;
    font-weight: 600;
    padding-right: 0.7em;
}

.arrow {
    background-color: transparent;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1em;
    transition: transform 0.3s ease-in-out;
}

.arrow svg {
    transform: scale(2);
}

.arrowUp {
    transform: rotateX(180deg);
}



.more {
    transition: max-height .3s ease-in-out, margin-top 0.3s ease-in-out, margin-bottom 0.3s ease-in-out;
    max-height: 20em;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: transparent;

    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.more::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.hide {
    max-height: 0;
    margin-top: 0em;
    margin-bottom: 0em;
}

.hide .city>div>* {
    display: none;
}

.city {
    position: sticky;
    top: 0;

    width: fit-content;
    height: 20em;
    display: flex;
    align-items: center;
}

.city>div {
    height: min(20em, 33vw);
    aspect-ratio: 1/1;
    align-self: center;
    margin: 0 .5em;
    background: radial-gradient(var(--lightest-background), transparent 70%);
    border-radius: 50%;
}

.data {
    flex-grow: 1;
    /* border: 1px solid green; */
    height: 20em;
    min-width: 10em;
    background-color: transparent;
}

.dataTop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0.5em;
    align-items: center;
    background-color: transparent;
}

/* .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: var(--primary);
    border-radius: 10px;
    outline: 1px solid var(--light-text);
}
.price:hover {
    outline: 2px solid var(--light-text);
}
.price:active {
    background-color: var(--primary-bg);
}

.price>span {
    color: var(--light-text);
    padding-bottom: 0.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.price>span>span {
    margin-left: 0.4em;
}
.price>div {
    font-size: 1.8rem;
} */

.score, .totalValue, .price {
    height: 4em;
    flex-grow: 1;
    margin: 0.2em 0.5em;
    outline: 1px solid var(--light-text);
    padding: 0.5em;
    font-size: 1.6rem;
    background-color: var(--primary-bg);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.price {
    background-color: var(--primary);
}

.price>div {
    font-size: 1.8rem;
}

.price:hover {
    outline: 2px solid var(--light-text);
}

.price>span {
    display: flex;
    align-items: center;
}

.price>span>span {
    font-size: 1rem;
    padding-left: 0.5em;
    color: var(--light-text);
}

.totalValue>span {
    font-size: 0.9rem;
    color: var(--light-text);
    padding-bottom: 0.2em;
}

.score>span {
    font-size: 0.9rem;
    color: var(--light-text);
    padding-top: 0.5em;
}

.score>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.score>div>span {
    padding: 0 0.3em;
}

.stats {
    padding: 0.5em;
    background-color: transparent;
}


.peopleSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    background-color: transparent;
}

.people {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    font-size: 1.2rem;
    min-width: 13em;
    padding: .3em 0;
    background-color: transparent;

}

.peopleBar {
    width: 90%;
    height: 16px;
    background-color: var(--lightest-background);
    border-radius: 8px;
}

.peopleBar:hover {
    z-index: 1000;
}

.peopleBarFill {
    /* border-radius: 8px 0 0 8px; */
    border-radius: 8px;
}

.peopleBarFill {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
}

.peopleBarFill>span {
    position: relative;
    opacity: 0;
    width: 0;
    font-size: 0.85rem;
    visibility: hidden;
    transition: opacity 0.2s linear, width 0s linear;
    top: 140%;
    align-self: center;
    background-color: var(--light-background);
    border: 1px solid var(--light-text);
    padding: 0.5em;
    border-radius: 5px;
    text-align: center;
    z-index: 100;
}

.peopleBarFill>span::after {
    content: "";
    position: absolute;
    bottom: 100%;
    transform: translateY(-1px);
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--light-text) transparent;
}

.peopleBarFill:hover {
    border: 1px solid var(--text);
}

.peopleBarFill:hover>span {
    visibility: visible;
    width: 11em;
    opacity: 1;
}

.achievementSection {
    display: flex;
    flex-direction: row;
    /* overflow-y: scroll; */
    /* overflow-x: scroll; */
    flex-wrap: wrap;
}

.achievementBadge {
    margin: 1em;
    width: fit-content;
    height: fit-content;
    /* outline: 1px solid rgba(255, 255, 255, 0.08); */
    /* background-color: green;
    border-radius: 50%; */
}