
.wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;
}

.title {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
    padding: .5em 0;
    border: 1px solid transparent;
    border-color: transparent transparent var(--light-text) transparent;
}

.first {
    min-height: 1em;
    width: 100%;
    background: linear-gradient(to top, transparent, var(--background));
    position: sticky;
    top: 0;
}
.last {
    min-height: 1em;
    width: 100%;
    background: linear-gradient(to bottom, transparent, var(--background));
    position: sticky;
    bottom: -1px;
}

.first, .last {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
}


.list::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
.list {
    /* height: calc(100% - 3.5em); */
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    /* align-items: center; */

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;

    scroll-behavior: smooth;
}

/* #region leaderboard city item */

.city {
    width: 100%;
    background-color: var(--light-background);
    margin: .3em 0;
    padding: .8em;
    border-radius: 9999em;
    display: flex;

    transition: background-color .3s linear;
}

.city>span {
    display: flex;
    gap: .3em;
    user-select: none;
}

.city>span:first-child {
    scale: 1.3;
    margin-left: .3em;
}

.city>span:nth-child(2) {
    min-width: 25%;
    padding: 0 2em 0 1.5em;
}

.city>div:last-child {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.city>div:last-child>* {
    scale: 1.1;
    cursor: pointer;
    color: var(--text);
    border-radius: 50%;
}
.city>div:last-child>*:hover {
    color: var(--light-text);
}

.ownedCity {
    background-color: var(--primary-bg);
}

/* #endregion */

.threeDots {
    align-self: center;
    font-size: 1.5rem;
    width: fit-content;
    padding: .2em 1em;
    margin: .2em 0;
    text-align: center;
    border: 1px solid var(--lightest-background);
    height: .8em;
    border-radius: 10000em;
}

.threeDots>* {
    color: var(--light-text);
    position: relative;
    bottom: 225%;
}

/* #region Scrolling buttons */

.upButton, .downButton {
    border: none;
    background-color: var(--light-background);
    border: 1px solid var(--lightest-background);
    color: var(--text);
    width: 3em;
    height: 3em;
    border-radius: 10000em;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: .9;
    cursor: pointer;
}

.upButton>*, .downButton>* {
    scale: 3;
}

.upButton {
    transform: translateY(20%);
}
.downButton {
    transform: translateY(-100%);
}

/* #endregion */