.wrapper {
    padding-bottom: 10em;
}

.top {
    height: 18em;
    background-color: var(--light-background);
    display: flex;
    align-items: flex-end;
}

.image {
    /* margin-top: 3em; */
    margin-left: min(5%, 2em);
    width: min(90%, 10em);
    height: 10em;
    margin-bottom: -1em;
}

.username {
    font-weight: 600;
    margin-left: min(2.5%, 1em);
    margin-top: 1.5em;
    width: min(95%, 10em);
    font-size: 1.8rem;
}

.username:hover {
    color: var(--light-text);
}

.addr {
    margin-left: 2em;
    margin-top: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    font-size: 0.9rem;
}

.addr a {
    cursor: pointer;
}

.addr a:hover {
    color: var(--light-text);
}

.eth {
    padding-right: 0.2em;
    display: none;
}

.matic {
    background-color: white;
    border-radius: 50%;
    margin-right: 0.2em;
}

.nftlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 1em;
}

.nftlist>div {
    flex-grow: 1;
    min-width: 15em;
    max-width: 20em;
    aspect-ratio: 3/4;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nftitem {
    height: 100%;
    width: 100%;
    border: 1px solid var(--text);
    background-color: transparent;
    border-radius: 15px;
    
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; */
    overflow: hidden;
}

.nftitem {
    padding: 1px;
}

.nftitem:hover {
    border: 2px solid var(--light-text);
    padding: 0px;
}

.city {
    width: 100%;
    aspect-ratio: 1/1;
    /* background-color: red; */
}

.citydata {
    position: relative;
    height: 100%;
    width: 100%;
    /* background-image: -webkit-linear-gradient(top, rgb(0, 0, 0, 0), var(--light-background)); */
    background-color: var(--light-background);
    font-size: 1.2em;
}

/* #region Sort choice */

.sortWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    user-select: none;
}

.sort {
    align-self: flex-end;
    min-width: 18em;
    height: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0 1.5em 1.5em 1.5em;
}

.sortBtn {
    min-height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid var(--text);
    background-color: var(--light-background);
    z-index: 10;
    cursor: pointer;
}

.sortBtn>span {
    padding: 0 0 0 1.5em;
}

.sortBtn>svg {
    margin: 0 1.5em 0 0;
    transform: scale(2);
}

.sortOptions {
    background-color: var(--light-background);
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid white;
    border-top: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

.sortOptions>div {
    width: inherit;
    display: flex;
    align-items: center;
    min-height: 3em;
    padding-left: 1.5em;
    background-color: var(--light-background);
    border-radius: 10px;
}

.sortOptions>div:hover {
    background-color: var(--background);
}

.sortBtn {
    padding: 1px;
}

.sortBtn:hover {
    border: 2px solid var(--light-text);
    padding: 0;
}

.hidePopup {
    display: none;
}

.popupShown {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.popupShown:hover {
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--text);
    border-bottom: none;
    padding: 1px;
    background-color: var(--background);
}

.popupShown>svg {
    transform: rotateX(180deg) scale(2);
}

/* #endregion */