.wrapper {
    padding-bottom: 10em;
}

.top {
    height: 18em;
    background-color: var(--light-background);
    display: flex;
    align-items: flex-end;
}

.image {
    /* margin-top: 3em; */
    margin-left: min(5%, 2em);
    width: min(90%, 10em);
    height: 10em;
    margin-bottom: -1em;
}

.username {
    font-weight: 600;
    margin-left: min(2.5%, 1em);
    margin-top: 1.5em;
    width: min(95%, 10em);
    font-size: 1.8rem;
}

.username:hover {
    color: var(--light-text);
}

.addr {
    margin-left: 2em;
    margin-top: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    font-size: 0.9rem;
}

.addr a {
    cursor: pointer;
}

.addr a:hover {
    color: var(--light-text);
}

.eth {
    padding-right: 0.2em;
    display: none;
}

.matic {
    background-color: white;
    border-radius: 50%;
    margin-right: 0.2em;
}

.nftlist {
    padding: 0 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
}

.nftlist>a, .nftlist>div {
    aspect-ratio: 3/4;
    margin: .5em;
    max-width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nftitem {
    height: 100%;
    width: 100%;
    outline: 1px solid var(--lightest-background);
    background-color: transparent;
    border-radius: 15px;
    
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; */
    overflow: hidden;
}

.nftitem:hover {
    cursor: pointer;
}

.nftitem>.city canvas {
    transition: scale .3s ease-out;
}

.nftitem:hover>.city canvas {
    scale: 1.08;
}

/* #region ConnectWallet style  */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.connectWallet {
    animation-name: fadeIn;
    animation-duration: 4s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    background-color: #0000005e;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000000000;
}

.connectButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 1em;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--primary);
    border-radius: 10px;
    cursor: pointer;
}

.connectButton:active {
    background-color: var(--primary-dark);
}

/* #endregion */

/* #region Popup style */

.popupBG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000005e;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
}

.popup {
    min-width: 50vw;
    height: fit-content;
    background-color: var(--light-background);
    border-radius: 15px;
    border: 1px solid var(--text);
    overflow: hidden;
}

.popupTop {
    padding-left: calc(3em/1.5);
    padding-top: 1em;
    font-size: 1.5rem;
    background-color: transparent;
}

.linkOptions {
    padding: 3em;
    padding-top: 1.5em;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    background-color: transparent;
}

.openseaLink, .gameLink {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--lightest-background);
    border-radius: 10px;
    border: 1px solid var(--text);
    padding: calc(1px + 1em);
    font-size: 1.2em;
}

.openseaLink:hover, .gameLink:hover {
    padding: 1em;
    border: 2px solid var(--text);
}

.openseaLink {
    margin: 0 0 0 0.5em;
}

.gameLink {
    margin: 0 0.5em 0 0;
}

.openseaLink>span {
    margin-top: 1em;
    text-align: center;
}

/* #endregion */

/* #region Sort choice */

.sortWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    user-select: none;
}

.sort {
    align-self: flex-end;
    min-width: 18em;
    height: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0 1.5em 1.5em 1.5em;
}

.sortBtn {
    min-height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    outline: 1px solid var(--lightest-background);
    background-color: var(--light-background);
    z-index: 10;
    cursor: pointer;

    transition: background-color .1s linear;
}

.sortBtn>span {
    padding: 0 0 0 1.5em;
}

.sortBtn>svg {
    margin: 0 1.5em 0 0;
    transform: scale(2);
}

.sortOptions {
    background-color: var(--light-background);
    z-index: 90;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    outline: 1px solid var(--lightest-background);
    border-top: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

.sortOptions>div {
    width: inherit;
    display: flex;
    align-items: center;
    min-height: 3em;
    padding-left: 1.5em;
    background-color: var(--light-background);
    border-radius: 10px;

    transition: background-color .1s linear;
}

.sortOptions>div:hover {
    background-color: var(--lightest-background);
}

.sortBtn {
    transition: background-color .1s ease-in-out;    
}

.sortBtn:hover {
    background-color: var(--lightest-background);
}

.hidePopup {
    display: none;
}

.popupShown {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    z-index: 90;
}

.popupShown:hover {
    border-radius: 10px 10px 0 0;
    outline: 1px solid var(--lightest-background);
    border-bottom: none;
    background-color: var(--lightest-background);
}

.popupShown>svg {
    transform: rotateX(180deg) scale(2);
}

.screenFiller {
    position: fixed;
    top: 0;
    z-index: 89;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.screenFillerClosed {
    display: none;
}

/* #endregion */

/* #region Item style */

.city {
    background: radial-gradient(var(--light-background), var(--background));
    width: 100%;
    aspect-ratio: 1/1;
}

.city>div {
    width: 100%;
    height: 100%;
}

.citydata {
    position: relative;
    height: 27%;
    width: 100%;
    /* background-image: -webkit-linear-gradient(top, rgb(0, 0, 0, 0), var(--light-background)); */
    background-color: var(--light-background);
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    transition: background-color .3s ease-in-out;
}

.nftitem:hover>div {
    background-color: var(--lightest-background);
}

.cityDataLeft {
    height: 100%;
    width: 100%;
    padding-left: 0.5em;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 0.5em;
}

.money, .income, .score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    font-size: 0.9rem;
}

.money>span, .income>span, .score>span {
    padding-left: 0.3em;
}

.cityDataRight {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cityDataRight>div {
    background-color: transparent;
    font-size: 0.8rem;
}

.cityDataRight>span {
    font-size: 1.5rem;
    font-weight: 600;
}

/* #endregion */

/* #region loading data city */

.loadingNftitem {
    height: 100%;
    width: 100%;
    outline: 1px solid var(--lightest-background);
    background-color: transparent;
    border-radius: 15px;
    
    overflow: hidden;
}

.loadingCity {
    width: 100%;
    aspect-ratio: 1/1;

    background: radial-gradient(var(--light-background), var(--background));
    opacity: 1;
}

.loadingCityData {
    position: relative;
    height: 27%;
    width: 100%;
    background-color: var(--light-background);
    font-size: 1.3em;

    padding-left: 0.5em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 0.5em;
}

.loadingCityData>div {
    height: 25%;
    width: 50%;
    background-color: var(--lightest-background);
    transform: scaleY(0.6);
}

/* #endregion */