@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

.city {
    height: 100%;
    width: 100%;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 400ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    background-color: transparent;
}

.city canvas {
    translate: 0 -10%;
}