<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityBuilders</title>
</head>
<body>
    <h1><a href="">CityBuilders</a></h1>
    <h2><a href="#about">About</a></h2>
    <h2><a href="#faq">FAQ</a></h2>
    <h2><a href="#contact">Contact us</a></h2>
    <h2><a href="./game">Game</a></h2>
    <a href="https://opensea.io" target="_blank">Our open sea collection</a>

    <p><h3 id="about">About</h3>We are very good programmers</p>
    <p><h3 id="faq">FAQ</h3>Most frequently asked questions</p>
    <p><h3 id="contact">Contact us</h3>Feel free to contact us</p>

</body>
</html>