
.contentWrapper {
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 0, 0, 0.112); */
    z-index: 0;
    pointer-events: none;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.contentWrapper * {
    user-select: none;
}

.topData {
    width: 100%;
    height: fit-content;
    /* margin-top: 10em; */

    display: flex;
    justify-content: flex-start;
    align-items: center;
    pointer-events: visibleFill;
}

.topDataElement {
    /* font-size: 1rem; */
    margin: 0.5em;
    background-color: var(--light-background);
    outline: 1px solid var(--lightest-background);
    padding: 0.5em 1em;
    border-radius: 5px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.topDataElement>div:last-child {
    margin-left: 0.3em;
}

.topData>div:nth-child(5) {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin: 0.5em;
}

.saveBtn {
    margin-left: auto;
    padding: .5em 1em;
    background-color: var(--lightest-background);
    border-radius: 10px;
    margin-right: .5em;
    cursor: pointer;

    border: none;
    color: inherit;
    font-size: inherit;
}
.saveBtn:active {
    transform: scale(0.97);
}

.bottomUI {
    height: 9em;
    /* background-color: rgba(0, 0, 0, 0.139); */
    width: 100vw;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;
    gap: 0.5em;
}

.bottomUI * {
    pointer-events: visibleFill;
}

.buildingListGroup:first-child>button {
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
}

.buildingListGroup::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
.buildingListGroup {
    height: 100%;
    min-width: 7em;
    width: 7em;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    
    transition: width .5s ease-in-out;

    overflow: scroll;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.buildingListGroup>button {
    height: 100%;
    aspect-ratio: 7/8;
    background-color: var(--light-background);
    border: none;
    color: inherit;
    font-size: 1rem;
    padding: 0;
    border-radius: 10px;
    border: 1px solid var(--lightest-background);
    cursor: pointer;

    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.buildingListGroup>button:first-child {
    opacity: 1;
    position: sticky;
    left: 0;
    background-color: var(--lightest-background);
    z-index: 1;
}

.buildingListGroup>button:active {
    transform: scale(0.98);
}

.expandedBuildingMenu>button {
    opacity: 1;
}

.buildingListGroup>button:not(:first-child) {
    display: grid;
}

.buildingListGroup>button:not(:first-child)>div:first-child {
    grid-column: 1;
    grid-row: 1;
    
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.buildingListGroup>button:not(:first-child)>div:last-child {
    grid-column: 1;
    grid-row: 1;

    height: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.buildingListGroup>button:not(:first-child)>div:last-child>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 .2em;
}

.buildingListGroup>button:not(:first-child)>div:last-child>div>div {
    display: flex;
    /* justify-content: space-between; */

    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--text);

    align-items: center;
    height: fit-content;
    padding: .3em;
    /* outline: 1px solid red; */
    border-radius: 50%;
}

.buildingListGroup>button:not(:first-child)>div:last-child>div>div svg {
    transform: scale(1.5);
}
.buildingListGroup>button:not(:first-child)>div:last-child>div>div:hover {
    background-color: var(--primary-bg);
}

.buildingListGroup>button:not(:first-child)>div:last-child>div>span {
    flex-grow: 1;
    text-align: center;
}

.buildingListGroup>button:not(:first-child)>div:last-child>span {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    gap: 0.2em;
    align-items: center;
    margin: 0.5em;
}

.middleUI {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    flex-grow: 1;
    width: 100%;
}

.middleUI>* {
    pointer-events: all;
}

.productivityMap {
    margin: 1em .5em;
    display: flex;
    gap: .5em;
    cursor: pointer;
}

.productivityMap>input {
    transform: scale(1.5);
    cursor: pointer;
}