:root {
    --background: #0A0A0F;
    --text: #FFF;
    --light-text: #b1b1b1;
    --primary: #017DEB;
    --primary-variant: #1994FF;
    --primary-dark: #00549E;
    --secondary: #EBA536;
    --secondary-dark: #9E6100;
    --error: #ff0000;
    --link: #0000EE;

    /* Color values for specific elements */
    --navbar: #05050a;
    --walkthrough-btn: #5f5f5f;
    --walkthrough-btn-hover: #707070;

    /* Token colors */
    --matic: #9900ff;
    --matic-bg: #5e008a;
    --weth: #2a6cb8;
    --weth-bg: #00346e;
}