:root {
    --background: #202225;
    --light-background: #292c30;
    --lightest-background: #3b3f46;
    --text: #ffffff;
    --light-text: #bbbbbb;
    --primary: #017DEB;
    --primary-variant: #40a6ff;
    --primary-dark: #005eb1;
    --primary-bg: #0059a667;
    --secondary: #ffba24;
    --secondary-dark: #edaa00;
    --error: #ff0000;
    --link: #0000EE;

    /* Color values for specific elements */
    --navbar: #04111d;
    --walkthrough-btn: #5f5f5f;
    --walkthrough-btn-hover: #707070;

    /* Token colors */
    --matic: #9900ff;
    --matic-bg: #5e008a;
    --weth: #2a6cb8;
    --weth-bg: #00346e;

    /* Colors for the eth svg */
    --eth-left2: #ddd;
    --eth-left1: #aaa;
    --eth-left2: #ddd;
    --eth-right2: #888;
    --eth-right1: #555;
    --eth-right2: #888;

    /* Variables for the leaderboard page */
    --top-padding: 1.25em;
    --top-padding-negative: -1.25em;
}