.wrapper {
    padding-top: 4em;
    background-color: var(--background);
    color: var(--text);
}

.wrapper h1 {
    padding: 0 1em 0 1em;
    font-size: 2.5rem;
}

.wrapper p {
    margin: 0;
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
}

.token {
    position: relative;
    width: fit-content;
    background-color: transparent;
}

.token:hover {
    text-decoration: underline;
}

.matic {
    padding-top: 4em;
    background-image: -webkit-linear-gradient(left, rgb(0, 0, 0, 0), var(--background)), -webkit-linear-gradient(top, var(--background), var(--matic-bg) 10em);

    height: fit-content;
}

.weth {
    padding-top: 4em;
    background: rgb(42, 108, 184);;
    background: -webkit-linear-gradient(left, rgb(0, 0, 0, 0), var(--background)), -webkit-linear-gradient(top, var(--matic-bg), var(--weth-bg) 10em);
    height: fit-content;
}